<% @page_title = "Members of the Social Prayer Network" %>

<% if can? :manage, @users %>
  <p>Hello, you are an Admin</p>
  <h2>Members of the Social Prayer Network</h2>
  <% for user in @users %>
    <p><%= user.email %> <%= link_to "Edit User", edit_user_path(user) %> <%= link_to "Delete User", user, :confirm => "Are you sure?", :method => :delete %>
  <% end %>
<% else %>
  <p>Hello, you are logged in as <%= current_user.email %></p>

<% for user in @users %>
    <p><%= user.email %></p>
  <% end %>
<% end %>

<br />
<hr />
<%= will_paginate @prayers %>
<br />

