<% @page_title = "Thank You For Sharing" %>
<% @page_tagline = "Below are some resources for dealing with #{@category.name}" %>

<p><strong><%= current_user.firstname %></strong>, People from around the world will see and pray for your request. Even now someone is likely already praying for you this very moment. We hope you find the following resources for <%= @category.name %>.</p>
<p>Best Regards,<br />
Aaron Mills</p>
<br />
<h2 style="border-bottom:1px solid;">Dealing With <%= @category.name %></h2>

<% if can? :update, Category%>
<p style="float:right;"><%= link_to 'Edit This Category Name', edit_category_path(@category), :class => 'button' %></p><br /><br />
<% end %>




<% @resources.each do |resource| %>
<h3><%= resource.title %></h3>
<p><%= resource.description %></p>
<p><a href="<%= resource.url %>">Visit Website</a></p><hr /><br />
<% end %>


<br />
<%= will_paginate @prayers %>
<br />

<% if can? :create, Resource %>
<p style="float:right;"><%= link_to 'Create a new resource', new_resource_path, :class => 'button' %></p>
<% end %>
