<p id="notice"><%= notice %></p>
<% if @category %>
<h1>Dealing With <%= @category.name %></h1>

<% if can? :update, Category%>
<%= link_to 'Edit This Category Name', edit_category_path(@category) %>
<% end %>

<% end %>

<% @resources.each do |resource| %>
<h3><%= resource.title %></h3>
<p><%= resource.description %></p>
<p><a href="<%= resource.url %>">Visit Website</a></p><hr /><br />
<% end %>


<br />

<%= link_to 'New Resource', new_resource_path %>
