<p id="notice"><%= notice %></p>

<h1>Thank you for submitting your prayer request</h1>
<p><%= current_user.email %>, People from around the world will see and pray for your request. Even now someone is likely already praying for you this very moment. We hope you find the following <%= @category.name %> resources helpful.</p>
<p>Best Regards,<br />
Aaron Mills</p>
<h2>Dealing With <%= @category.name %></h2>

<% if can? :update, Category%>
<%= link_to 'Edit This Category Name', edit_category_path(@category) %>
<% end %>



<% @resources.each do |resource| %>
<h3><%= resource.title %></h3>
<p><%= resource.description %></p>
<p><a href="<%= resource.url %>">Visit Website</a></p><hr /><br />
<% end %>


<br />
<%= will_paginate @prayers %>
<br />

<% if can? :create, Resource %>
<%= link_to 'New Resource', new_resource_path %>
<% end %>
