<% @page_title = "Prayer Requests" %>
<h1>Latest Prayer Requests</h1>

<table>
  <tr>
    <th>Request</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prayers.each do |prayer| %>
<p class="micropost"><img src="<%= avatar_url(prayer.user) %>" style="float:left;margin-right:10px;margin-bottom:10px;" /><%= prayer.request %><br />
<em><span class="timestamp">Posted <%= time_ago_in_words(prayer.created_at) %> ago.</span></em> <br style="clear:both;" /></p>

    <% if user_signed_in? %><% if current_user.id == prayer.user.id %><p>
    <%= link_to 'Edit This Request', edit_prayer_path(prayer) %>
    
    <% end %><% end %> </p>

  
<% end %>
</table>
<br />
<hr />
<%= will_paginate @prayers %>

<br />

<% if can? :create, Prayer %><%= link_to 'New Prayer', new_prayer_path %><% end %>
