<% @page_title = "Prayer Requests" %>
<% @page_tagline = "Latest prayer requests from the social prayer network" %>




<% @prayers.each do |prayer| %>

    <div class="post">
          <div class="meta">
            <span class="category">Category: <a href="#"><%= prayer.category.name %></a></span>
            <span class="date">Posted <%= time_ago_in_words(prayer.created_at) %> ago, by <%= prayer.user.firstname %> <%= prayer.user.lastname %></span>
          </div>
	  <a href="#" class="img-load"><img src="<%= avatar_url(prayer.user) %>" class="lightview" width="80px" /></a>
          <%= prayer.request %>
    <% if user_signed_in? %><% if current_user.id == prayer.user.id %><p style="float:right;"><br />
    <%= link_to 'Edit This Request', edit_prayer_path(prayer), :class => 'button' %></p>
    
    <% end %><% end %> 

    </div>

  
<% end %>
<br  style="clear:both;" />
<%= will_paginate @prayers %>


<br  style="clear:both;" />
<% if can? :create, Prayer %><p style="float:right;"><%= link_to 'New Request', new_prayer_path, :class => 'button' %></p>
<% else %>
<p style="float:right;">Ready to share your own request? <%= link_to "Register", new_user_registration_path %> | <%= link_to "Sign-In", new_user_session_path %></p>
<% end %>
