<% @page_title = "Prayer Requests" %>
<h1>Latest Prayer Requests</h1>

<table>
  <tr>
    <th>Request</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prayers.each do |prayer| %>
<p style="border:1px solid #ccc;padding:8px;"><img src="<%= avatar_url(prayer.user) %>" style="float:left;margin-right:10px;margin-bottom:10px;" /><%= prayer.request %>
    <% if can? :update, @prayer %><br />
    <%= link_to 'Edit', edit_prayer_path(prayer) %> | 
    <%= link_to 'Destroy', prayer, :confirm => 'Are you sure?', :method => :delete %>
    <% end %> <br style="clear:both;" /></p>

  
<% end %>
</table>
<br />
<hr />
<%= will_paginate @prayers %>

<br />

<% if can? :create, Prayer %><%= link_to 'New Prayer', new_prayer_path %><% end %>
