<% @page_title = "Prayer Requests" %>
<h1>Latest Prayer Requests</h1>

<table>
  <tr>
    <th>Request</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prayers.each do |prayer| %>
  <tr>
    <td><%= prayer.request %></td>
    <td><%= link_to 'Read', prayer %></td>
    <% if can? :update, @prayer %>
    <td><%= link_to 'Edit', edit_prayer_path(prayer) %></td>
    <td><%= link_to 'Destroy', prayer, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prayer', new_prayer_path %>
